@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Configurações do Menu */
nav {
    position: fixed;
    width: 15%;
    height: 100vh;
    box-shadow: 1px 1px 6px rgb(158, 158, 158);
}

nav img {
    height: 34%;
    width: 100%;
}

hr {
    color: #E7E7E7;
    margin-top: 2px;
    opacity: 20%;
}

nav a {
    text-decoration: none;
    color: #725C5C;
    font-size: 1.2rem;
    font-weight: 400;
}

li {
    list-style: none;
    padding-top: 2vh;
    padding-left: 2vh;
}


.nome{
    font-size: 2.2rem;
    padding-left: 2.5vh;
    font-weight: 500;
    color: white;
}
.sidebar-brand {
    padding-top: 2.5vh;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    height: 7vh;
}

.aberta {
    background-color: #FDF1EB;
    cursor: pointer;
    border-left: thick;
    border-left-style: solid;
    border-left-color: #ED7839;

}

/* Configurações de cabeçalho */

header {
    background-color: #FDF1EB;
    height: 8.6vh;
    width: 83.8%;
    display: flex;
    flex-direction: row;
    padding-left: 34vh;
    padding-top: 1vh;
    justify-content: space-between;
    align-items: center;
    color: #725C5C;
    font-weight: 400;
}

header img {
    width: 50px;
    height: 50px;
    align-items: right;
    border-radius: 100px;
    margin-right: 23vh;
    margin-left: -5vh;
}

.titulo {
    font-weight: 500;
    font-size: 1.7rem;
    margin-right: 10vh;
}

select {
    background-color: #FDF1EB;
    height: 40px;
    width: 11vh;
    font-size: 1rem;
    border-color: rgb(156, 156, 156);
    padding-left: 1vh;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 3px;
}

.user-menu {
    text-align: right;
    font-weight: 400;

}

/* Configurações do Menu de usuário */

#user-popup {
    background-color: #FDF1EB;
    position: absolute;
    padding-top: 5vh;
    padding-left: 2vh;
    margin-left: 115vh;
    width: 200px;
    height: 150px;
    display: none; 
    border: solid 5px white;
    box-shadow: grey 1px 1px 15px 5px;
}

#user-popup a{
    text-decoration: none;
    color: red;
    margin-left: 15vh;
}

#user-popup p {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 7px;
    margin-top: 1vh;
}


/* Configurações da section title */

.title {
    letter-spacing: 2px;
    font-size: 1rem;
    color: #ED7839;
    margin-top: 2vh;
    padding-left: 34vh;
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
}

.btn {
    height: 3.8vh;
    width: 16vh;
    font-size: 1.2rem;
    color: white;
    background-color: #ED7839;
    align-items: center;
    padding-left: .6vh;
    margin-right: 1vh;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.btn-2 {
    color: white;
    font-size: 1.3rem;
    height: 3.8vh;
    width: 2vw;
    background-color: #ED7839;
    align-items: center;
    padding-left: .3vh;
    margin-right: 1vh;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.btn-3 {
    background-image: url('img/doi.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: center;
    height: 3.8vh;
    width: 2vw;
    background-color: #ED7839;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.quote {
    padding-left: 77.5%;
    margin-top: -15px;
    color: #ED7839;
    font-weight: 600;
    text-transform: uppercase;
}

/* Configurações da section vídeo */

.youtube {
    margin-top: 2vh;
}

.video-section {
    display: flex;
    flex-direction: row;
    padding-left: 34vh;
}

.details {
    height: 61.5vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 5vh;
    border: solid 2px #ECECEC;
    border-radius: 3px;
    
}
.details h1 {
    color: #4E4E4E;
    background-color: #FDF1EB;
    height: 4vh;
    width: 14vw;
    padding-top: 1vh;
    padding-left: 20px;
    border-bottom: solid 2px #ECECEC;
}

.details p {
    margin-left: 2vh;
    width: 14vw;
    border-style: solid 2px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: #5C5C5C;
}

.details-p-container-1 {
    margin-top: 2vh;  
}

.autores {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    margin-top: 3vh;
    margin-bottom: -.4vh;
}

.autores-nomes p{
    font-family: 'Quicksand', sans-serif;
    margin-top: .8vh;
    font-weight: 400;
}

.faculdades {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 10vh;
    color: #b9b9b9;
    font-size: 1rem;
}

/* Configurações de resumo */

.resumo {
    position: relative;
    height: auto;
    width: 72.3vw;
    margin-top: 2vh;
    margin-left: 34vh;
    border: solid 2px #ECECEC;
    border-radius: 3px;
}

.resumo-title {
    background-color: #FDF1EB;
    padding: 1vh;
    color: #4E4E4E;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: solid 2px #ECECEC;    
}

.texto-resumo {
    letter-spacing: 1px;
    font-family: 'quicksand', sans-serif;
    font-weight: 400;
    color: #acacac;
    width: fit-content;
    margin-left: 1vh;
    margin-top: 1vw;
    margin-bottom: 2vh;
}

#myBtn {
    font-size: 1rem;
    color: #ED7839;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: none;
    background-color: white;
}

#more {
    display: none;
}

/* Configurações dos tópicos*/

.qa-section {
    width: 72.5vw;
    margin-top: 4vh;
    margin-left: 34vh;
    border: solid 1px #ECECEC;
    padding-bottom: 2vh;
}

.qa-title {
    background-color: #FDF1EB;
    width: 99.2%;
    height: 5vh;
    padding-left: 1vh;
    padding-top: 1vh;
    border-bottom: solid 2px #ECECEC;
    color: #4E4E4E;
    font-size: 1.5rem;
    font-weight: 500;
}

#center-qa {
    text-align: center;
    margin-top: 4vh;
}

.qa-inner-title {
    color: #ED7839;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 5vh;
}

.icon2 {
    padding-left: 6vh;
    padding-right: 6vh;
}

.qa-text {
    width: 70%;
    font-size: 1.2rem;
    padding-top: 4vh;
    padding-left: 15%;
    padding-bottom: 3vh;
    color: #acacac;
    font-family: 'Quicksand', sans-serif;
}

.topic-btn {
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to bottom, #FFB354, #EE7A3A);
    width: 9vw;
    height: 4vh;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 15px 1px rgb(175, 175, 175);
}

/* Configurações de topicos */

.question {
    width: 90%;
    padding-top: 2vh;
    margin: 5vh;
    border: solid 2px #ECECEC;
    border-radius: 5px;
    padding-left: 2vh;
    padding-bottom: 1vh;
    box-shadow: 1px 1px 20px 1px rgb(216, 216, 216);
}

.question-title {
    color: #ED7839;
    margin-bottom: .5vh;
    font-weight: 600;
}

.question-user-name {
    font-size: .9rem;
    color: #979797;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 1vh;
}

.question-text {
    font-size: 1rem;
    color: #4D4D4D;
    font-weight: 400;
    width: 95%;
    margin-bottom: 2vh;
}

.question-settings {
    display: flex;
    flex-direction: row;
}

.ellipsis {
    color: #EE7A3A;
    border: none;
    margin-right: 1.5vh;
    background-color: white;
    cursor: pointer;
}

.like-button {
    color: red;
    border: none;
    background-color: white;
    cursor: pointer;
}

.like {
    color: #979797;
    margin-left: 1vh;
}

.reply {
    color: #979797;
    margin-left: 1vh;
}

/* Configurações do rodapé */

.footer-line {
    margin-top: 5vh;
    width: 75%;
    margin-left: 32vh;
}

footer {
    align-items: flex-start;
    height: 15vh;
    padding-top: 2vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 32vh;
    margin-bottom: 5vh;
}

.logo-footer {
    width: 80%;
}

.galoa-btn {
    height: 4vh;
    width: 15vw;
    margin-left: 1.5vh;
    border: none;
    background-color: rgb(102, 7, 131);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.footer-text {
    color: #777676;
    margin-top: 3vh;
    margin-right: 10vh;
    font-weight: 400;
}

.footer-text-2 {
    margin-top: 3vh;
    width: 90%;
}